
*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    gap: 13px;
    height: 60px;
    width: 100%;
    background-color: #d70018;
   
}
.header_logo{
    margin-left: 200px;
}
.header_logo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.header_danhmuc,.header_phone,.header_tracuu,.header_cuahangganban,.header_giohang
{
    padding: 5px;
    border-radius: 15px;
    width: 105px;
    height: 40px;
}
.header_phone:hover,.header_tracuu:hover,.header_cuahangganban:hover,.header_user:hover,.header_giohang:hover{
    background-color: #df3346;
}
.header_phone a,.header_tracuu a,.header_cuahangganban a,.header_giohang a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 5px;

}
.header_phone a i,.header_tracuu a i,.header_cuahangganban a i,.header_giohang a i{
    color: white;
    font-size: 20px;
    display: block;
    padding: 3px;
}
.header_phone a p,.header_tracuu a p,.header_cuahangganban a p,.header_giohang a p{
    color: #fff;
    font-size: 13px;
}
.header_search{
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-left: 120px;
}
.header_search input{
    border:none;
    background: #fff;
    outline: none;
    width: 300px;
    height: 30px;
    font-size: 17px;
    padding-left: 30px;
    border-radius: 40px;
}
.header_search i{
    position: absolute;
    left: 10px;
    top: 7px;
}
.header_user{
    width: 70px;
    padding: 5px 0;
    border-radius: 15px;
}
.header_user a{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-decoration: none;
}
.header_user i{
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 10px;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    
}
.container1{
    width: 1200px;
    height: 375px;
    background-color: none;
    margin-top: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 205px 700px 265px;
    gap: 15px;
    
}
.container1_cols1{
    background-color: #fcfafa;
   
    display: grid;
    grid-template-rows: repeat(10,30px);
    height: 360px;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    
}
.container1_cols1 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #343a40;
    padding: 5px 10px;
    gap: 5px;
    width: 195px;
    position: relative;
   

}

.container1_cols1 .fa-chevron-right{
    position: absolute;
    right: 15px;
    color:#777777;
}
.container1_cols1 a img{
    width: 20px;
    height: 20px;
    
}
.container1_cols1_list{
    background-color: #fff;
    display: none;
    width: 1060px;
    height: fit-content;
    position: absolute;
    top:-5px;
    left: 170px;
    border-radius: 15px;
    z-index: 1;
    border: 1px solid lightgray;
    
   

}
.container1_cols1 a:hover .fa-chevron-right{
    display: none;
}
.container1_cols1 a:hover {
    background-color: #eeecec;
   
}
.container1_cols1 a:hover .container1_cols1_list{
   display: block;
   transition: 5s;
}
.container1_cols1_list li p span{
    display: inline-block;
    width: 250px;
    padding: 5px 0;
}
.container1_cols1_list li p span:hover {
   color: red;
}
.container1_cols1_list li{
    list-style: none;
    margin-left: 50px;
    margin-top: 5px;
    padding-bottom: 15px;
   

}
.container1_cols2{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    display: grid;
    grid-template-rows: 300px 60px;
    height: 360px;
}
.container1_cols2 img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}
.contaier1_cols2_row2{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.container1_cols2_row2_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 15px;
    height: 100%;
}
.container1_cols2_row2_item:hover{
   color: #888888;
}


.container1_cols3{
    border-radius: 15px;
    height: 360px;
    display: grid;
    grid-template-rows: repeat(3,115px);
    row-gap: 8px;
}
.container1_cols3 img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
}
.container2{
    width: 1200px;
    height: fit-content;
    background-color: #ffd391;
    border-radius: 15px;
   
}
.container2_row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2_row1_left{
    display: flex;
    height: 30px;
    width: fit-content;
    margin-left: 20px;
    gap: 10px;
}
.container2_row1_left span{
    display: flex;
    align-items: center;
    background-color: #ffe0b2;
    color: #ee9668;
    padding: 5px 10px;
    border-radius: 5px;
}
.container2_row1_left input{
    background-color: #c60a09;
    color: #fff;
    font-weight: bold;
    border: #c60a09;
    padding: 5px 10px;
    border-radius: 10px;
}
.container2_row1_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-right: 20px;
    gap: 5px;
    color: #e01020;
    font-weight: bold;
}
.container2_row1_right p{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.container2_row2,.container4,.container6{
    display: grid;
    grid-template-columns: repeat(5,230px);
    height: fit-content;
    gap: 10px;
    margin: 0 5px;
}
.container2_row2_item{
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:15px 0;
   justify-content: space-evenly;
}

.container2_row2_item_img,.container4_item_img,.container6_item_img{
    margin-top: 5px;
    width: 190px;
    border-radius: 15px;
   
    transition: 0.3s ease-in-out;
    
}
.container2_row2_item_img:hover,.container4_item_img:hover,.container6_item-img:hover{
    transform: scale(1.1);
}
.container2_row2_item_title,.container4_item_title,.container6_item_title{
    color: black;
    font-weight: bold;
    display: flex;
}
.container2_row2_item_price,.container4_title_price,.container6_item_price{
    color: #c60a09;
    font-weight: bold;
}
.container2_row2_item_like,.container4_item_like,.container6_item_like {
    display: flex;
    
}
.container2_row2_item_like span,.container4_item_like span,.container6_item_like span{
    font-size: 12px;
    display: block;
    cursor: pointer;
    padding-right: 5px;
}
.container2_row2_item_like i,.container4_item_like i,.container6_item_like  i{
   cursor: pointer;
 
}
.container2_row2_item_like  i:hover,.container4_item_like  i:hover, .container6_item_like  i:hover{
    color: #d70018;
    transform: scale(1.2);
   
}

.container3,.container5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.container3_left,.container5S_left{
    font-weight: bold;
    font-size: 20px;
}
.container3_right,.container5_right{
    display: flex;
    gap: 10px;
}
.container3_right a,.container5_right a{
    text-decoration: none;
    
}
.container3_right a p,.container5_right a p{
    background-color: #f3f4f6;
    padding: 3px 10px;
    border-radius: 5px;
    color: black;
}
.container3_right a p:hover{
    opacity: 0.5;
}

.container4,.container6{
    margin-bottom: 10px;
    border-radius: 15px;
   
   
}

.container4_item,.container6_item{
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:15px 0;
   justify-content: space-evenly;
   height: 355px;
   box-shadow: 5px 10px 18px #888888;
}
.container4_item_details,.container6_item_details{
    background-color: #f3f4f6;
    height: 50px;
    width: 205px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}